.container {
    background-color: #171D1F;
    border: 1px solid #00090E;
    background-image: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-position: center;
}